Que. 2

Consider following datasets , do PCA on each datasets and preapare any two classification models.

Datasets:
wine.csv
framingham.csv
claimants.csv
glass.csv
churn.csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

# Wine.csv

In [2]:
df1 = pd.read_csv("Wine.csv")

In [3]:
df1.head()

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

In [4]:
df1.isna().sum()

Alcohol                 0
Malic_Acid              0
Ash                     0
Ash_Alcanity            0
Magnesium               0
Total_Phenols           0
Flavanoids              0
Nonflavanoid_Phenols    0
Proanthocyanins         0
Color_Intensity         0
Hue                     0
OD280                   0
Proline                 0
Customer_Segment        0
dtype: int64

In [5]:
df1.corr()['Customer_Segment']

Alcohol                -0.328222
Malic_Acid              0.437776
Ash                    -0.049643
Ash_Alcanity            0.517859
Magnesium              -0.209179
Total_Phenols          -0.719163
Flavanoids             -0.847498
Nonflavanoid_Phenols    0.489109
Proanthocyanins        -0.499130
Color_Intensity         0.265668
Hue                    -0.617369
OD280                  -0.788230
Proline                -0.633717
Customer_Segment        1.000000
Name: Customer_Segment, dtype: float64

In [6]:
df1.drop(['Ash','Magnesium','Color_Intensity'] , axis=1 , inplace =True)

In [7]:
df1.columns

Index(['Alcohol', 'Malic_Acid', 'Ash_Alcanity', 'Total_Phenols', 'Flavanoids',
       'Nonflavanoid_Phenols', 'Proanthocyanins', 'Hue', 'OD280', 'Proline',
       'Customer_Segment'],
      dtype='object')

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Alcohol               178 non-null    float64
 1   Malic_Acid            178 non-null    float64
 2   Ash_Alcanity          178 non-null    float64
 3   Total_Phenols         178 non-null    float64
 4   Flavanoids            178 non-null    float64
 5   Nonflavanoid_Phenols  178 non-null    float64
 6   Proanthocyanins       178 non-null    float64
 7   Hue                   178 non-null    float64
 8   OD280                 178 non-null    float64
 9   Proline               178 non-null    int64
 10  Customer_Segment      178 non-null    int64
dtypes: float64(9), int64(2)
memory usage: 15.4 KB

In [9]:
x = df1.drop('Customer_Segment' , axis=1)
y = df1['Customer_Segment']

In [10]:
from sklearn.decomposition import PCA
pca = PCA(n_components=1)
transformed_df = pca.fit_transform(x)

x = pd.DataFrame(transformed_df )

x.head()

            0
0  318.126216
1  303.143652
2  438.108277
3  733.115868
4  -11.897984

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test= train_test_split(x , y ,test_size=0.3,random_state=123456)

from sklearn.preprocessing import LabelEncoder
y_train_encoded = LabelEncoder().fit_transform(y_train)
y_test_encoded = LabelEncoder().fit_transform(y_test)

In [13]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train,y_train_encoded)

y_pred = model.predict(x_test)

from sklearn.metrics import accuracy_score
print(f"Accuracy = {accuracy_score(y_test_encoded,y_pred)}")

Accuracy = 0.7222222222222222

In [14]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=500)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
from sklearn.metrics import accuracy_score
print(f"Accuracy = {accuracy_score(y_test,y_pred)}")

Accuracy = 0.7037037037037037

# framingham.csv

In [15]:
df2 = pd.read_csv("framingham.csv")

In [16]:
df2.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4240 non-null   int64
 1   age              4240 non-null   int64
 2   education        4135 non-null   float64
 3   currentSmoker    4240 non-null   int64
 4   cigsPerDay       4211 non-null   float64
 5   BPMeds           4187 non-null   float64
 6   prevalentStroke  4240 non-null   int64
 7   prevalentHyp     4240 non-null   int64
 8   diabetes         4240 non-null   int64
 9   totChol          4190 non-null   float64
 10  sysBP            4240 non-null   float64
 11  diaBP            4240 non-null   float64
 12  BMI              4221 non-null   float64
 13  heartRate        4239 non-null   float64
 14  glucose          3852 non-null   float64
 15  TenYearCHD       4240 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 530.1 KB

In [18]:
df2.isna().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [19]:
df2.corr().TenYearCHD

male               0.088374
age                0.225408
education         -0.054248
currentSmoker      0.019448
cigsPerDay         0.057755
BPMeds             0.087519
prevalentStroke    0.061823
prevalentHyp       0.177458
diabetes           0.097344
totChol            0.082369
sysBP              0.216374
diaBP              0.145112
BMI                0.075300
heartRate          0.022907
glucose            0.125590
TenYearCHD         1.000000
Name: TenYearCHD, dtype: float64

In [20]:
df2.drop(['male','education','currentSmoker','cigsPerDay','BPMeds','prevalentStroke','totChol','BMI','heartRate'] , axis=1 ,inplace=True)

In [21]:
df2['glucose'] = df2['glucose'].fillna(df2['glucose'].mean())

In [22]:
df2.isna().sum()

age             0
prevalentHyp    0
diabetes        0
sysBP           0
diaBP           0
glucose         0
TenYearCHD      0
dtype: int64

In [23]:
x = df2.drop('TenYearCHD' , axis=1)
y = df2['TenYearCHD']

In [24]:
from sklearn.decomposition import PCA
pca = PCA(n_components=1)
transformed_df = pca.fit_transform(x)

x = pd.DataFrame(transformed_df )

x.head()

           0
0 -28.682541
1 -12.983194
2 -11.212847
3  30.277181
4  -0.326244

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test= train_test_split(x , y ,test_size=0.3,random_state=123456)

from sklearn.preprocessing import LabelEncoder
y_train_encoded = LabelEncoder().fit_transform(y_train)
y_test_encoded = LabelEncoder().fit_transform(y_test)

In [26]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train,y_train_encoded)

y_pred = model.predict(x_test)

from sklearn.metrics import accuracy_score
print(f"Accuracy = {accuracy_score(y_test_encoded,y_pred)}")

Accuracy = 0.8490566037735849

In [27]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=500,max_depth=1000)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
from sklearn.metrics import accuracy_score
print(f"Accuracy = {accuracy_score(y_test,y_pred)}")

Accuracy = 0.7547169811320755

# claimants.csv

In [28]:
df3 = pd.read_csv("claimants.csv")

In [29]:
df3.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [30]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1340 non-null   int64
 1   CLMSEX    1328 non-null   float64
 2   CLMINSUR  1299 non-null   float64
 3   SEATBELT  1292 non-null   float64
 4   CLMAGE    1151 non-null   float64
 5   LOSS      1340 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [31]:
df3.corr().ATTORNEY

ATTORNEY    1.000000
CLMSEX      0.079674
CLMINSUR    0.079439
SEATBELT   -0.057189
CLMAGE      0.010680
LOSS       -0.219715
Name: ATTORNEY, dtype: float64

In [32]:
df3.drop('CLMAGE' , axis=1 ,inplace = True)

In [33]:
df3.isna().sum()

ATTORNEY     0
CLMSEX      12
CLMINSUR    41
SEATBELT    48
LOSS         0
dtype: int64

In [34]:
df3['CLMSEX'] = df3['CLMSEX'].fillna(df3['CLMSEX'].mean())
df3['CLMINSUR'] = df3['CLMINSUR'].fillna(df3['CLMINSUR'].mean())
df3['SEATBELT'] = df3['SEATBELT'].fillna(df3['SEATBELT'].mean())

In [35]:
x = df3.drop('ATTORNEY' , axis =1)
y = df3['ATTORNEY']

In [36]:
from sklearn.decomposition import PCA
pca = PCA(n_components=1)
transformed_df = pca.fit_transform(x)

x = pd.DataFrame(transformed_df )

x.head()

           0
0  31.134350
1  -2.916033
2  -3.475590
3  -3.767263
4  -3.767590

In [37]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test= train_test_split(x , y ,test_size=0.3,random_state=123456)

from sklearn.preprocessing import LabelEncoder
y_train_encoded = LabelEncoder().fit_transform(y_train)
y_test_encoded = LabelEncoder().fit_transform(y_test)

In [38]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train,y_train_encoded)

y_pred = model.predict(x_test)

from sklearn.metrics import accuracy_score
print(f"Accuracy = {accuracy_score(y_test_encoded,y_pred)}")

Accuracy = 0.6592039800995025

In [39]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=500,max_depth=1000)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
from sklearn.metrics import accuracy_score
print(f"Accuracy = {accuracy_score(y_test,y_pred)}")

Accuracy = 0.6517412935323383

# glass.csv

In [40]:
df4 = pd.read_csv("glass.csv")

In [41]:
df4.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [42]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [43]:
df4.isna().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [44]:
df4.corr().Type

RI     -0.164237
Na      0.502898
Mg     -0.744993
Al      0.598829
Si      0.151565
K      -0.010054
Ca      0.000952
Ba      0.575161
Fe     -0.188278
Type    1.000000
Name: Type, dtype: float64

In [45]:
df4.drop(['RI','Si','K','Ca'] , axis =1 , inplace =True)

In [46]:
x = df4.drop('Type',axis=1)
y = df4['Type']

In [47]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
transformed_df = pca.fit_transform(x)

x = pd.DataFrame(transformed_df )

x.head()

          0         1         2
0  1.747476  0.635222  0.033219
1  0.809482  0.662324 -0.015416
2  0.805877  0.300624  0.149433
3  1.049575  0.029202  0.037573
4  0.979871  0.071356 -0.023051

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test= train_test_split(x , y ,test_size=0.3,random_state=123456)

from sklearn.preprocessing import LabelEncoder
y_train_encoded = LabelEncoder().fit_transform(y_train)
y_test_encoded = LabelEncoder().fit_transform(y_test)

In [49]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train,y_train_encoded)

y_pred = model.predict(x_test)

from sklearn.metrics import accuracy_score
print(f"Accuracy = {accuracy_score(y_test_encoded,y_pred)}")

Accuracy = 0.5076923076923077

In [50]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=1000,max_depth=500)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
from sklearn.metrics import accuracy_score
print(f"Accuracy = {accuracy_score(y_test,y_pred)}")

Accuracy = 0.6923076923076923

# churn.csv

In [51]:
df = pd.read_csv("churn.csv")

In [52]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [53]:
df.drop(['RowNumber','CustomerId','Surname'] , axis=1 ,inplace =True)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [55]:
df['Geography'] = LabelEncoder().fit_transform(df['Geography'])
df['Gender'] = LabelEncoder().fit_transform(df['Gender'])

In [56]:
df.corr().Exited

CreditScore       -0.027094
Geography          0.035943
Gender            -0.106512
Age                0.285323
Tenure            -0.014001
Balance            0.118533
NumOfProducts     -0.047820
HasCrCard         -0.007138
IsActiveMember    -0.156128
EstimatedSalary    0.012097
Exited             1.000000
Name: Exited, dtype: float64

In [57]:
df.drop(['HasCrCard'] , axis=1 ,inplace =True)

In [58]:
x = df.drop('Exited' ,axis=1)
y = df['Exited']

In [59]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
transformed_df = pca.fit_transform(x)

x = pd.DataFrame(transformed_df )

x.head()

              0             1           2
0 -76157.145980   7194.761639  -30.782512
1   8266.910414  11846.105621  -42.570391
2  83998.633337   7340.133436 -149.305842
3 -76741.325975   -304.770460   49.200258
4  47245.526441 -24749.993710  198.940318

In [60]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train,y_test= train_test_split(x , y ,test_size=0.3,random_state=123456)

from sklearn.preprocessing import LabelEncoder
y_train_encoded = LabelEncoder().fit_transform(y_train)
y_test_encoded = LabelEncoder().fit_transform(y_test)

In [61]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(x_train,y_train_encoded)

y_pred = model.predict(x_test)

from sklearn.metrics import accuracy_score
print(f"Accuracy = {accuracy_score(y_test_encoded,y_pred)}")

Accuracy = 0.7696666666666667

In [62]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=1000,max_depth=500)
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
from sklearn.metrics import accuracy_score
print(f"Accuracy = {accuracy_score(y_test,y_pred)}")

Accuracy = 0.7743333333333333