In [1]:
import pandas as pd

In [2]:
employees = [
    {"empid": 1, "name": "employee1"},
    {"empid": 2, "name": "employee2"},
    {"empid": 3, "name": "employee3"},
    {"empid": 4, "name": "employee4"},
    {"empid": 5, "name": "employee5"},
    {"empid": 6, "name": "employee6"},
    {"empid": 7, "name": "employee7"},
    {"empid": 8, "name": "employee8"},
    {"empid": 9, "name": "employee9"},
    {"empid": 10, "name": "employee10"},
]

In [3]:
emp_id = pd.Series([emp['empid'] for emp in employees])
name = pd.Series([emp['name'] for emp in employees])

df = pd.DataFrame({"Empid": emp_id, "Name": name})

In [4]:
print(df)

   Empid        Name
0      1   employee1
1      2   employee2
2      3   employee3
3      4   employee4
4      5   employee5
5      6   employee6
6      7   employee7
7      8   employee8
8      9   employee9
9     10  employee10

In [5]:
print(df.head(5))

   Empid       Name
0      1  employee1
1      2  employee2
2      3  employee3
3      4  employee4
4      5  employee5

In [6]:
print(df.tail(5))

   Empid        Name
5      6   employee6
6      7   employee7
7      8   employee8
8      9   employee9
9     10  employee10

In [7]:
df.to_csv("MyRecord.csv")