The Salary_Train and Salary_Test datasets contains Information about Salary of different Person.
The Dataset Description as follows
age -- age of a person
workclass    -- A work class is a grouping of work 
education    -- Education of an individuals    
maritalstatus -- Marital status of an individulas    
occupation     -- occupation of an individuals
relationship -- ralationship of an individual    
race --  Race of an Individual
sex --  Gender of an Individual
capitalgain --  profit received from the sale of an investment    
capitalloss    -- A decrease in the value of a capital asset
hoursperweek -- number of hours work per week    
native -- Native of an individual
Salary -- salary of an individual
Prepare following models to predict Salary:
1. Logistic Regression
2. Naive Bayes
3. KNN
4. SVM
5. Decision Tree
6. Random Forest
7. Adaboost

Calculate different evaluation metrics and select best model from them.

Notes:
1. Do Proper EDA.
2. Build model without dropping any columns.

Dataset:
Salary_train.csv
Salary_test.csv

### pre-requisites

In [45]:
import warnings
warnings.filterwarnings(action="ignore")

### import required packages

In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### load the data

In [47]:
df = pd.read_csv('Salary_Train.csv')
test_data = pd.read_csv('Salary_Test.csv')

### EDA

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [49]:
df.isna().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [50]:
from sklearn.preprocessing import LabelEncoder 

l = ['workclass', 'education','maritalstatus',
       'occupation', 'relationship', 'race', 'sex','native', 'Salary']
for i in l:
    df[i] = LabelEncoder().fit_transform(df[i])
    test_data[i] = LabelEncoder().fit_transform(test_data[i])

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  int32
 2   education      30161 non-null  int32
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  int32
 5   occupation     30161 non-null  int32
 6   relationship   30161 non-null  int32
 7   race           30161 non-null  int32
 8   sex            30161 non-null  int32
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  int32
 13  Salary         30161 non-null  int32
dtypes: int32(9), int64(5)
memory usage: 2.2 MB

### pre-processing

In [52]:
x_train = df.drop('Salary',axis=1)
y_train = df['Salary']
x_test = test_data.drop('Salary',axis=1) 
y_test = test_data['Salary']

### train the models

### Logistic Regression

In [53]:
from sklearn.linear_model import LogisticRegression

def create_model_lr():
    model = LogisticRegression()
    model.fit(x_train,y_train)
    return model

### Naive Bayes

In [54]:
from sklearn.naive_bayes import GaussianNB

def create_model_nb():
    model = GaussianNB()
    model.fit(x_train,y_train)
    return model

### KNN

In [55]:
from sklearn.neighbors import KNeighborsClassifier

def create_model_knn():
    model = KNeighborsClassifier(n_neighbors=5)
    model.fit(x_train,y_train)
    return model

### SVM

In [56]:
from sklearn.svm import SVC

def create_model_svm():
    model = SVC()
    model.fit(x_train,y_train)
    return model

### Decision Tree

In [57]:
from sklearn.tree import DecisionTreeClassifier

def create_model_dt():
    model = DecisionTreeClassifier(max_depth=50)
    model.fit(x_train,y_train)
    return model

### Random Forest

In [58]:
from sklearn.ensemble import RandomForestClassifier

def create_model_rf():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train,y_train)
    return model

### Adaboost

In [59]:
from sklearn.ensemble import AdaBoostClassifier

def create_model_ada():
    model = AdaBoostClassifier()
    model.fit(x_train,y_train)
    return model

### model evaluation

In [66]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def evaluate_model(model):
    # training accuracry
    y_pred = model.predict(x_train)
    y_true = y_train

    # calculate training accuracy
    training_accuracy = accuracy_score(y_true, y_pred)

    # testing accuracy
    y_pred = model.predict(x_test)
    y_true = y_test

    # get the performance metrics for testing
    testing_accuracy = accuracy_score(y_true, y_pred)
    testing_precision = precision_score(y_true, y_pred,average='micro')
    testing_recall = recall_score(y_true, y_pred,average='micro')
    testing_f1 = f1_score(y_true, y_pred,average='micro')

    return training_accuracy, testing_accuracy, testing_precision, testing_recall, testing_f1

In [61]:
models = [
    ("Logistic Regression", create_model_lr()),
    ("Naive Bayes", create_model_nb()),
    ("KNN", create_model_knn()),
    ("SVM", create_model_svm()),
    ("Decision Tree", create_model_dt()),
    ("Random Forest", create_model_rf()),
    ("Adaboost", create_model_ada())
]

In [68]:
performance_data = []
for model_name, model in models:
    train_accuracy, test_accuracy, precision, recall, f1 = evaluate_model(model)
    performance_data.append([
        model_name, f"{train_accuracy * 100:0.2f}%", f"{test_accuracy * 100:0.2f}%", precision, recall, f1
    ])
    
performance_chart = pd.DataFrame(performance_data, 
            columns=["Model", "Train Accuracy", "Test Accuracy", "Precision", "Recall", "F1"])
performance_chart

,Model,Train Accuracy,Test Accuracy,Precision,Recall,F1
0,Logistic Regression,80.52%,80.33%,0.803320,0.803320,0.803320
1,Naive Bayes,79.53%,79.47%,0.794688,0.794688,0.794688
2,KNN,88.37%,83.55%,0.835525,0.835525,0.835525
3,SVM,79.60%,79.64%,0.796414,0.796414,0.796414
4,Decision Tree,97.50%,80.92%,0.809163,0.809163,0.809163
5,Random Forest,97.50%,84.36%,0.843559,0.843559,0.843559
6,Adaboost,85.68%,85.60%,0.855976,0.855976,0.855976