Que1.-
In this dataset you have to predict that whether we have to give ATTORNEY to the clients or not (0=Yes, 1=No) based on below factors.
CLMAGE - Age of Client
CLMSEX - Sex of client (0=Male, 1= Female)
SEATBELT - Whether client has Seatbelt or not (0=Yes, 1=No)
CLMINSUR - Whether Client give Insurance or not (0=Yes, 1=No)
LOSS - Loss that client faced

Prepare model by using Naive Bayes,KNN and SVM & Also calculate Accuracy by confusion matrix, Calculate accuracy score, precision score, 
recall score, f1 score.

Dataset : Claimants.csv

### import required packages

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### load the data

In [4]:
df = pd.read_csv('claimants.csv')
df.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

### exploratory data analysis

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ATTORNEY  1340 non-null   int64
 1   CLMSEX    1328 non-null   float64
 2   CLMINSUR  1299 non-null   float64
 3   SEATBELT  1292 non-null   float64
 4   CLMAGE    1151 non-null   float64
 5   LOSS      1340 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 62.9 KB

In [6]:
df.isna().sum()

ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [7]:
l = ['CLMSEX','CLMINSUR','SEATBELT','CLMAGE']
for i in l:
    df[i] = df[i].fillna(df[i].mean())

In [8]:
df.isna().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [9]:
# check if the data is imbalanced
df['ATTORNEY'].value_counts()

ATTORNEY
0    685
1    655
Name: count, dtype: int64

In [10]:
df.cov()

          ATTORNEY    CLMSEX  CLMINSUR  SEATBELT      CLMAGE        LOSS
ATTORNEY  0.250061  0.019614  0.011156 -0.003569    0.093020   -1.168687
CLMSEX    0.019614  0.244525  0.009221 -0.000929   -0.199389   -0.145185
CLMINSUR  0.011156  0.009221  0.081340  0.000757    0.248232    0.017625
SEATBELT -0.003569 -0.000929  0.000757  0.016150   -0.062735    0.150090
CLMAGE    0.093020 -0.199389  0.248232 -0.062735  354.078656   11.537022
LOSS     -1.168687 -0.145185  0.017625  0.150090   11.537022  113.143709

In [11]:
df.corr()

          ATTORNEY    CLMSEX  CLMINSUR  SEATBELT    CLMAGE      LOSS
ATTORNEY  1.000000  0.079321  0.078221 -0.056158  0.009886 -0.219715
CLMSEX    0.079321  1.000000  0.065382 -0.014778 -0.021428 -0.027602
CLMINSUR  0.078221  0.065382  1.000000  0.020899  0.046255  0.005810
SEATBELT -0.056158 -0.014778  0.020899  1.000000 -0.026234  0.111031
CLMAGE    0.009886 -0.021428  0.046255 -0.026234  1.000000  0.057641
LOSS     -0.219715 -0.027602  0.005810  0.111031  0.057641  1.000000

### pre-processing

In [12]:
# split the data into x and y
x = df.drop(['ATTORNEY','CLMAGE'],axis=1)
y = df['ATTORNEY']

### split the data into train and test sets

In [20]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.7, random_state=123456)

### train the models

#### Naive Bayes

In [21]:
from sklearn.naive_bayes import GaussianNB

def create_naive_bayes_model():

    # create the model
    model = GaussianNB()

    # train the model
    model.fit(x_train, y_train)

    return model

#### KNN

In [22]:
from sklearn.neighbors import KNeighborsClassifier

def create_knn_model():

    # create the model
    model = KNeighborsClassifier(n_neighbors=5)

    # train the model
    model.fit(x_train, y_train)

    return model

#### SVM

In [23]:
from sklearn.svm import SVC

def create_svm_model():
    # create a model
    model = SVC()
    
    # train the model
    model.fit(x_train, y_train)

    return model

### model evaluation

In [27]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

def evaluate_model(model_name, model):
    
    # get the predictions using model
    y_pred = model.predict(x_test)
    y_true = y_test

    print(confusion_matrix(y_true, y_pred))
    
    # get the accuracy
    accuracy = accuracy_score(y_true, y_pred)

    # get the precision
    precision = precision_score(y_true, y_pred)

    # get the recall
    recall = recall_score(y_true, y_pred)

    # get f1 score
    f1 = f1_score(y_true, y_pred)

    return model_name, accuracy, precision, recall, f1

In [28]:
# create Naive Bayes model
model_nb = create_naive_bayes_model()

# create KNN model
model_knn = create_knn_model()

# create SVM model
model_svm = create_svm_model()

In [30]:
# evaluate all the models
model_evaluation_params = pd.DataFrame([
    evaluate_model("Naive Bayes", model_nb),
    evaluate_model('KNN', model_knn), 
    evaluate_model('SVM', model_svm)
], columns=["Model Name", "Accuracy", "Precision", "Recall", "F1 Score"])

[[ 29 178]
 [  6 190]]
[[147  60]
 [ 64 132]]
[[122  85]
 [ 34 162]]

In [31]:
# performance chart
model_evaluation_params

    Model Name  Accuracy  Precision    Recall  F1 Score
0  Naive Bayes  0.543424   0.516304  0.969388  0.673759
1          KNN  0.692308   0.687500  0.673469  0.680412
2          SVM  0.704715   0.655870  0.826531  0.731377